body {
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60%;
  margin: 0 auto;
}

form input {
  font-size: 2rem;
}

form button {
  font-size: 3rem;
  background-color: red;
  color: white;
  text-transform: uppercase;
}
